button {
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: url('@images/bird-on-gray.jpg');
}

button:hover {
  background-color: #2980b9;
}

button:active {
  background-color: #1c5988;
}
